.green {
	background-color: #28734f;
}
.light-green {
	background-color: #478f6c;
}
.dark-green {
	background-color: #013b1f;
}



.blue {
	background-color: #29506a;
}
.light-blue {
	background-color: #456b83;
}
.dark-blue {
	background-color: #042236;
}


.yellow {
	background-color: #a67639;
}
.light-yellow {
	background-color: #cd9f66;
}
.dark-yellow {
	background-color: #7f5118;
}


.red {
	background-color: #a65539;
}
.light-red {
	background-color: #cd8066;
}
.dark-red {
	background-color: #541702;
}
